body {
    background: url("/auth/images/cover.jpg") no-repeat center fixed;
    background-size: cover;
}

.auth-container {
    width: 650px;
    background: darkblue;
    opacity: 0.9;
    margin: 50px auto auto auto;
    border-radius: 10px;
}

.tabs-container {
    /* background: white;*/
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.tab {
    font-size: 36px;
    display: inline-block;
    margin: auto;
    color: gray;
}

.tab :hover {
    cursor: pointer;
    background: deepskyblue;
    color: white;
    border-radius: 10px;
}

.tab a {
    padding: 20px 80px 20px 80px;
}

.auth-form-group {
    /* background: white;*/
    width: 100%;
    display: inline-block;
}

input {
    font-size: 24px;
    background: #F6F6f6;
    border-radius: 8px;
    display: block;
    margin: auto;
    width: 80%;
    height: 40px;
}

label {
    display: block;
    font-size: 24px;
    margin: auto;
    padding: 20px 10% 20px 10%;
    color: lightgrey;
}

[type="submit"] {
    background: deepskyblue;
    margin: 60px 0 40px 10%;
    padding: 20px 0 20px 0;
    color: white;
    border: deepskyblue;
    font-size: 24px;
    border-radius: 8px;
    display: block;
    width: 80%;
}

button {
    cursor: pointer;
}

.active {
    color: white;
}

@media (max-width: 670px) {
    .auth-container {
        width: 100%;
    }

    .tab {
        font-size: 24px;
    }

    body {
        background-size: auto;
    }
}

@media (max-width: 560px) {
    .tab a {
        padding: 5px 20px 5px 20px;
    }

    .auth-container {
        margin: auto;
    }

    .tabs-container {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    label {
        font-size: 18px;
        padding: 10px 10% 10px 10%;
    }
}


